*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --bg-color: rgba(0, 0, 0, 0.9);
  --header-bg: rgb(46, 46, 46);
  --golden: rgb(199, 170, 0);
  --global-padding: 16px;
}

/*---App style--- */
.App {
  min-height: 100dvh;
  min-height: 100vh;
  position: relative;
  background-color: var(--bg-color);
  color: var(--golden);
  display: grid;
  grid-template-rows: auto 1fr auto;
}
/*--------------*/

/*---loader style--- */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.loader h1 {
  animation: getBigger 5s ease-in-out 0s infinite;
}

.loader img {
  max-width: 150px;
}

@keyframes getBigger {
  0% {
    scale: 0.7;
  }
  50% {
    scale: 1.3;
  }

  100% {
    scale: 0.7;
  }
}
/*---------------*/

/* ---Header style --- */

header {
  background-color: var(--header-bg);
  padding: var(--global-padding);
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
}

.logo img {
  max-width: 80px;
}

/* -------------------- */

/*-----Main styles------*/
main {
  padding: var(--global-padding);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.instruction {
  font-size: 1.5rem;
}

/*-----------------------*/

/*---- Card style -------*/
.card {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card img {
  width: 80px;
}

/* ----------------------*/

/*--- Footer styles -----*/
footer {
  text-align: center;
  padding: var(--global-padding);
  background-color: var(--header-bg);
}
